@import   ../_color

.trusted_box
    background-color: $color_back_lb
    padding: 120px 3%

    .trust_start
        text-align: center
        font-size: 42px
        color: $color_blue
        margin-bottom: 75px
        position: relative

        &::after
            content: " "
            width: 50px
            height: 3px
            background-color: $color_yellow
            position: absolute
            top: 150%
            right: calc( 50% - 25px )

    .trust_company
        display: flex
        justify-content: space-between
        align-content: center

        .trust_card
            width: 300px
            display: flex
            flex-direction: column
            align-items: center

        .trust_logo
            justify-content: center

        .trust_name
            color: $color_blue
            font-size: 24px
            text-align: center
            margin: 15px auto

        .trust_context
            text-align: center
