@import   ../_color

.trusted_box
    background-color: $color_back_lb
    padding: 120px 3%

    .trust_company
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        align-content: center

        .trust_card
            width: 300px
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 50px

        .trust_logo
            justify-content: center

        .trust_name
            color: $color_blue
            font-size: 24px
            text-align: center
            margin: 15px auto

        .trust_context
            text-align: center
