.welcome
    display: flex
    background-color: #1B3764
    justify-content: space-between
    padding: 50px 5%

    .welcome_text
        width: 50%
        padding-right: 5%

    .welcome_book
        width: 50%

        img
            width: 100%